<section class="bg-dark" id="crearepository">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Creiamo il nostro primo Repository!</h2>
                <hr class="light">
                <p class="text-faded">Abbia già fatto un grande passo, ora è giunto il momento di creare il nostro Repository e succesivamente, inserire e configurare il nostro sito.</p>
                <ol>
                  <li>Premiamo sul "+" collocato in alto a destra della pagina e poi premi su "New Repository".</li>
                  <a href="img/createRep.png"><img src="img/createRep.png" alt="" style="margin-bottom: 15px;width: 100%;"/></a>

                  <li>Diamo il nome alla nostra Repository e fininalizziamo la creazione. Per il nome abbiamo due opzioni:
                    <ul>
                      <li style="font-size: 11pt;"><b>nickname.github.io</b>: Inserendo un nome sviluppato in questo modo, il nostro sito sarà poi accessibile all'url: <b>http://nickname.github.io</b></li>
                      <p style="font-weight: bold; font-style: Italic; font-size: 9pt;">Nota: "nickname" dev'essere sostituito col tuo nome utente (inserito durante la registrazione).</p>
                      <li style="font-size: 11pt;"><b>nomeProgetto</b>: Inserendo un nome normale, il nostro sito sarà poi accessibile all'url: <b>http://nickname.github.com/nomeProgetto</b></li>
                    </ul>
                    Procediamo premendo "Create Repository".
                  </li>
                  <a href="img/createRepNam.png"><img src="img/createRepNam.png" alt="" style="margin-bottom: 15px;width: 100%; height: 450px;"/></a>
                  <div style="clear:both;"></div>
                </ol>
                <a href="#siteGen" class="btn btn-default btn-xl">Avanti</a>
            </div>
        </div>
    </div>
</section>
