<section class="bg-dark" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">FAQ: Frequently Asked Questions</h2>
                <hr class="light">
                <p class="text-faded">Alcune informazioni che possono esserti utili.</p>
            </div>

            <div class="col-lg-2 col-lg-offset-1 text-center">
              <h2 class="section-heading">Cos'è GitHub?</h2>
              <p class="text-faded">GitHub è un servizio web di hosting per lo sviluppo di progetti software, che usa il sistema di controllo di versione Git.</p>
              <a href="https://it.wikipedia.org/wiki/GitHub">Vedi Wikipedia</a>
            </div>
            <div class="col-lg-4 col-lg-offset-1 text-center">
              <h2 class="section-heading">Esistono alternative a GitHub per il mio sito?</h2>
              <p class="text-faded">Certo, esistono alternative gratuite (Vedi <a href="https://www.netsons.com/">Netsons</a> & <a href="http://www.hostinger.it/">Hostinger</a>), di solito questi tipi di servizi offrono anche possibilità più avanzate rispetto a GitHub, come <a href="http://www.php.net/">php</a> e <a href="https://www.mysql.it/">MySql</a>, che però se per un lato favoriscono la creazione di un sito più complesso e personalizzabile, da un lato sono meno <i>user-friendly</i> per nuovi utenti del web.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
              <h2 class="section-heading">Cos'è un Repository?</h2>
              <p class="text-faded">Il repository è un archivio ordinato dove sono raccolti i file di uno specifico progetto, in modo ben organizzato e costantemente aggiornato.</p>
              <a href="https://it.wikipedia.org/wiki/Repository">Vedi Wikipedia</a>
            </div>
        </div>
    </div>
</section>
