<section class="bg-primary" id="registrazione">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Registrazione</h2>
                <hr class="light">
                <p class="text-faded">Il primo passo da compiere è effettuare la registrazione su <a href="https://github.com/join" style="color: #fff;font-weight: bold;">GitHub</a>.</p>
                <ol>
                  <li>Andare sulla pagina di SignUp di <a href="https://github.com/join">GitHub</a></li>
                  <li style="float:left; width: 50%;">Insererisci il tuo <b>username</b>, <b>password</b> e <b>indirizzo email*</b>, nella schermata. <br>Premi "<b>Create An Account</b>", appena finita la compilazione.<br><br>
                  <p style="font-weight: bold; font-style: Italic;">*Fai attenzione ad inserire un indirizzo email valido, per poter poi effettuare la convalida.</p>
                  </li>
                  <a href="img/reg.png" target="_blank"><img src="img/reg.png" alt="" style="float: right; width: 45%;margin-bottom: 15px;"/></a>

                  <div style="clear:both;"></div>
                  <li style="float:right; width: 50%;">
                    Ora seleziona il piano "Free", che ci mette a disposizione una quantità illimitata di repository pubbliche, che noi useremo.<br><br>
                    <p style="font-weight: bold; font-style: Italic;">I piani a pagamento servono soltanto per avere a disposizioni delle repository "private", visibili quindi solo ad una cerchia ristretta di persone, decisa dal creatore.</p>
                    Appena finito premiamo su "<b>Finish Sign Up</b>" e saremo reindirizzati alla nostra home.
                  </li>
                    <a href="img/plan.png" target="_blank"><img src="img/plan.png" alt="" style="float: left; width: 45%;"/></a>
                    <div style="clear:both;"></div>
                </ol>
                <a href="#crearepository" class="btn btn-default btn-xl page-scroll">Avanti</a>
            </div>
        </div>
    </div>
</section>
