<section id="siteGen" style="background-color: #F9F9F9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Generiamo il nostro sito!</h2>
                <hr>
                <p class="text-muted">Repository creata, inseriamo finalmente il nostro sito!</p>
                <ol>
                  <li style="float:left; width: 50%;">Nella <i>sidebar</i> localizzata alla destra dello schermo premiamo il tasto "<b>Settings</b>".
                    <br><br><p style="font-weight: bold; font-style: Italic;">Questa è la pagina di configurazione per la nostra repository, da qua possiamo modificare il nome del repository, aggiungere collaboratori per il nostro progetto, eliminare la stessa e tanto altro...</p>
                  </li>
                  <a href="img/sideSet.png" target="_blank"><img src="img/sideSet.png" alt="" style="float: right; width: 25%;margin-bottom: 15px;"/></a>

                  <div style="clear:both;"></div>
                  <li>
                    Scrolliamo la pagina e premiamo il bottone "<b>Launch automatic page generator</b>".
                    <p style="font-weight: bold; font-style: Italic;">Questo è il famoso strumento che ci permetterà di creare in pochi passi il nostro sito, con i nostri contenuti.</p>
                  </li>
                    <a href="img/generatePages.png" target="_blank"><img src="img/generatePages.png" alt="" style="margin-bottom: 15px;width: 100%;"/></a>
                    <div style="clear:both;"></div>
                    <li>Siamo finalmente arrivati alla creazione del contenuto del nostro nuovo sito web.<br> Ora possiamo compilare i campi in questo modo:</li>
                    <ul>
                      <li style="font-size: 11pt;"><b>Page Name</b>: Qui va inserito il nome della nostra pagina, questo nome appirarà in testa del nostro sito e nella scheda del browser.</li>
                      <img src="img/pageName.png" alt="" style="margin-bottom: 15px;width: 100%;"/>
                      <li style="font-size: 11pt;"><b>Tagline</b>: Come si evince dal nome stesso, qua va inserita la tagline del nostro sito, ovvero la frase "descrittiva" che apparirà subito dopo il nostro titolo sito.</li>

                      <li style="font-size: 11pt;"><b>Body</b>: Questo è il contenuto fisico del nostro sito, nella foto che segue potente vedere anche il funzionamento del <a href="https://it.wikipedia.org/wiki/Markdown" style="color: #333;font-weight: bold;">markdown</a>, il codice che viene usato per "stilizzare" il nostro sito. Per i comandi principali del markdown: <a href="https://help.github.com/articles/markdown-basics/" style="color: #333; font-weight: bold;" target="_blank">Markdown Basics</a></li>
                      <a href="img/pageBody.png" target="_blank"><img src="img/pageBody.png" alt="" style="margin-bottom: 15px;width: 100%;"/></a>
                      <li style="font-size: 11pt;"><b>Google Analytics</b>: Questo è un codice di tracciamento, totalmente opzionale, per collegare il nostro sito ad un servizio offero da Google, che serve per monitorare, in tempo reale e non, i visitatori della nostra pagina. Per informazioni: <a href="https://www.google.com/intl/it_it/analytics/" style="color: #333; font-weight: bold;" target="_blank">Google Analytics</a></li>
                    </ul>
                    <li>Premiamo su "<b>Continue to layouts</b>"</li>
                    <li>Ora selezioniamo il template che più ci piace, la scelta va fatta semplicemente premendo sull'immagine di anteprima che più ci aggrada nella slide. Riceveremo un'anteprima istananea del nostro sito col tema desiderato.</li>
                    <img src="img/pageTempl.png" alt="" style="margin-bottom: 15px;width: 100%;"/>
                    <li>Guardiamo l'anteprima del nostro sito e se ci piace premiamo "<b>Publish Page</b>"!</li>
                    <img src="img/pagePub.png" alt="" style="margin-bottom: 15px;width: 100%;" class=""/>
                    <li><img src="img/confetti.png" alt="" class="wow bounceIn"/><b>Il nostro sito è fatto!</b><img src="img/confetti.png" alt="" style="transform: scaleX(-1) !important;" class="wow bounceIn"/></li>
                    <p style="font-weight: bold; font-style: Italic;">Ora siete stati indirizzati nella pagina del vostro repository, contentenente i file creati automaticamente dal tool, per modificare il sito basta rifare questi passaggi ripartendo dal primo!<br><br> Buona personalizzazione e buon lavoro!<br><br> PS<sub>1</sub>: Ricordati che il tuo sito è accessibile al link scelto durante la <a href="#linkrep" class="page-scroll">procedura di creazione del repository.</a><br><br> PS<sub>2</sub>: <a href="https://github.com/conema">Seguimi su GitHub!</a></p>
                    <!--<img src="img/creatPag.png" alt="" />-->
                </ol>
            </div>
        </div>
    </div>
</section>
